<table>
	<tr>
		<th>NOMBRE</th>
		<th>APELLIDO</th>
		<th>DNI</th>
		<th>AVG</th>
	</tr>
	<tr>
		<td>{{alum.fname}}</td>
		<td>{{alum.lname}}</td>
		<td>{{alum.dni}}</td>
		<td>{{alum.avg}}</td>
	</tr>
</table>
<a href="/delete/{{alum._id}}">BORRAR</a>